* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}

:root{
  font-size: 16px;
}
body {
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
    height: 100vh;
    margin-top: 1rem;
}
.body {
  display: flex;
  justify-content: center;
  gap: 2rem;
  max-width: 1280px;
}

h2{
  font-size: 1.1rem;
  border-bottom: 1px solid black;
  text-align: center;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
  letter-spacing: 0.3rem;
  font-size: 2.5rem;
  font-weight: 600;
}

.resume {
  width: min(95vw,510px);
  height: min(80vh,733px);
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
  box-shadow: 10px 10px 13px -7px rgba(0, 0, 0, 0.55);
}

.personal-details {
  padding: 1.5rem 0;
  min-width: 250px;
  width: 80%;
  max-width: 500px;
  background-color: rgb(227, 116, 116);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 2px;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 6px 13px -7px rgba(0, 0, 0, 0.55);
}

.your-name{
  color: white;
  font-size: 1.2rem;
}

.personal-details > input {
  border: none;
  border-bottom: 1px solid rgb(41, 41, 41);
  background-color: inherit;
  text-align: center;
  width: 80%;
  font-size: 0.7rem;
  padding-bottom: 0.5rem;
}

.resume-details {
  padding: 1rem 0;
  height: 15%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #1e1e1e;
}

.sub-resume-details {
  display: flex;
  justify-content: center;
}

.sub-resume-details > p {
  font-size: clamp(0.6rem, 0.5rem , 2rem);;
  padding: 1rem 1.5rem;
  color: white;
}

.form-elements {
  display: flex;
  flex-direction: column;
  max-height: 733px;
  gap: 2rem;
  justify-content: space-between;
}

.education-details {
  padding: 2rem 0;
  position: relative;
  min-width: 250px;
  width: 80%;
  max-width: 500px;
  background-color: rgb(113, 177, 255);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 2px;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 6px 13px -7px rgba(0, 0, 0, 0.55);
}

.education-details > input {
  border: none;
  border-bottom: 1px solid rgb(41, 41, 41);
  background-color: inherit;
  text-align: center;
  width: 80%;
  font-size: 0.7rem;
  padding-bottom: 0.5rem;
}
.dates-container{
  display: flex;
  justify-content: space-between;
}
.startDate{
  width: 40%;
  font-size: 0.5rem;
}

.endDate{
  width: 40%;
  font-size: 0.5rem;
}

.resume-container {
  width: 90%;
  margin: 1rem auto;
}
.resume-education {
  padding-top: 1rem;
}
.resume-education > h3 {
  font-size: 0.8rem;
  font-weight: 500;
}

hr {
  width: 90%;
  display: flex;
}

.break {
  height: 1px;
  background-color: black;
  width: 100%;
  margin-bottom: 0.4rem;
}

.resume-education-details {
  display: grid;
  grid-template-columns: 1fr 12% 12%;
  grid-template-rows: 1fr 1fr 1fr;
}

.resume-university {
  font-size: 0.8rem;
  font-weight: 700;
  margin-bottom: 0.4rem;
}

.resume-degree {
  grid-area: 2/1/3/2;
  margin-left: 2rem;
  font-size: 0.7rem;
}
.resume-start {
  grid-area: 1/2/2/3;
  font-size: 0.5rem;
  text-align: right;
}

.resume-end {
  font-size: 0.5rem;
  grid-area: 1/3/2/4;
  text-align: right;
}

.resume-location {
  grid-area: 2/2/3/4;
  margin-top: 0.3rem;
  font-size: 0.6rem;
  text-align: right;
}

.close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: none;
  font-size: 2rem;
  background-color: inherit;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.close:hover{
  color: red;
  font-size: 2.6rem;
}
ul{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
li {
  list-style: none;
  border-bottom: 1px solid black;
  width: 85%;
  text-align: center;
  padding: 0.3rem 0;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  font-size: 0.7rem;
}

.back-button{
  border: 1px solid black;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  font-size: 0.6rem;
  padding: 2px 4px;
}

.back-button:hover{
  background-color: #8da7b1;
}
.save{
    border: 1px solid black;
  padding: 2px 4px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  font-size: 0.6rem;
}

.save:hover{
    background-color: #8da7b1;
}
.buttons{
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.add-school{
  font-size: 2rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.add-school:hover{
      color: white;
}

.trash{
  display: inline;
  position: absolute;
  right: 5px;
  bottom: 5px;
  cursor: pointer;
}

@keyframes saved{

  0%{
    background-color: #c1ced3;
  }
  50%{
    background-color: rgb(52, 233, 52);
  }
  100%{
    background-color: #c1ced3;
  }
}

.experience-details {
  padding: 2rem 0;
  position: relative;
  min-width: 250px;
  width: 80%;
  max-width: 500px;
  background-color: rgb(115, 227, 115);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 2px;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 6px 13px -7px rgba(0, 0, 0, 0.55);
}

.resume-experience > h3{
      font-size: 0.8rem;
    font-weight: 500;
}

.experience-grid{
  display: grid;
  grid-template-columns: 1fr 12% 12%;
  grid-template-rows: 1fr 1fr 1fr;
}



.exp-job{
    font-size: 0.8rem;
    font-weight: 700;
    margin-bottom: 0.4rem;
}

.exp-title{
  grid-area: 2/1/3/2;
      margin-left: 2rem;
    font-size: 0.7rem;
}
.exp-location{
  grid-area: 2/2/3/4;
  margin-top: 0.3rem;
    font-size: 0.6rem;
    text-align: right;
}
.exp-start{
  grid-area: 1/2/2/3;
  font-size: 0.5rem;
  text-align: right;
}

.exp-end{
  grid-area: 1/3/2/4;
  font-size: 0.5rem;
  text-align: right;
}
.exp-dates p{
font-size: 0.5rem;
    text-align: right;
}
.exp-notes{
  font-size: 0.6rem;
  grid-area: 3/1/4/4;
    margin-left: 2rem;
}

.experience-details input{
  border: none;
  border-bottom: 1px solid rgb(41, 41, 41);
  background-color: inherit;
  text-align: center;
  width: 80%;
  font-size: 0.7rem;
  padding-bottom: 0.5rem;
}

.exp-dates{
  display: flex;
  justify-content: space-evenly;
  margin: 0 0.1rem;
}

.exp-dates input{
  width: 36%;
}

.notes{
    border: 1px solid rgb(41, 41, 41);
  border-bottom: 1px solid rgb(41, 41, 41);
  background-color: inherit;
  text-align: center;
  width: 80%;
  font-size: 0.7rem;
  padding-bottom: 0.5rem;
  max-width: 100%;
  resize: vertical;
}

.add-exp{
  font-size: 2rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.add-exp:hover{
  color: white;
}

@media screen and (max-width: 800px){
  .body{
    display: grid;
    grid-template-rows: 1fr auto;
    justify-items: center;
  }

  .resume{
    grid-area: 1/1/2/2;
  }

  .form-elements{
    flex-direction: row;
    gap: 1rem;
    width: 95vw;
    margin-bottom: 1rem;
  }

  .education-details{
    min-width: 30%;
  }

  .personal-details{
    min-width: 30%;
  }
  .experience-details{
    min-width: 30%;
  }
}