*{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #eeedea;
  padding: 2rem;
}
.body{
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.title{
  text-align: center;
  margin-bottom: 2rem;
  letter-spacing: 0.3rem;
  font-size: 2.5rem;
  font-weight: 600;
}


.form{
  height: 72vh;
  aspect-ratio: .772;
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
  box-shadow: 10px 10px 13px -7px rgba(0,0,0,0.55);
}

.details{
  height: 30vh;
  aspect-ratio: 0.8;
  background-color: #c1ced3;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  border-radius: 2px;
  justify-content: center;
  align-items: center;
    box-shadow: 5px 6px 13px -7px rgba(0,0,0,0.55);
}

.details > input{
border: none;
border-bottom: 1px solid rgb(41, 41, 41);
background-color: inherit;
text-align: center;
width: 80%;
font-size: 1rem;
padding-bottom: 0.5rem;
}

.form-details{
  padding-top: 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #ecceb6;
}

.sub-form-details{
  display: flex;
  justify-content: center;
}

.sub-form-details > p{

  padding: 2rem 1.5rem;
}